.dnd {
    margin: 0 5px;
    padding-top: 100px;
    width: 100%;
}

.dnd-head {}

.dnd-content {
    border: 1px solid aquamarine;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
    width: 300px;
}

.dnd-content-list {
    width: 100%;
}

.dnd-content-item {
    height: 50px;
    width: 100%;
    line-height: 50px;
    padding-left: 20px;
    border-bottom: 1px solid #eee;
    list-style: none;
    cursor: pointer;
}

.dnd-sample-mask{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, .1);
}